.nav-bar {
    width: 100%;
    height: 5rem;
    background-color: rgba(254, 99, 71, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-title {
    margin: auto;
}

.body-container {
    display: flex;
    justify-content: space-evenly;
}

.content-container {
    width: 75%;
    margin: 2rem 0rem 2rem 2rem;
}

.bio-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 1rem 0;
}

.bio-cornered-box {
    border-radius: 1rem;
    margin: 1rem 1rem;
    padding: 1px 0;
    height: auto;
    width: auto;
    border: 2px solid;
    border-color: gray;
    text-align: center;
}

.bio-text {
    font-size: 20pt;
    margin:0.5rem;
}

.doc-text-container {
    background-color: rgb(237, 229, 222);
    padding: 3px 3px;
}

.doc-tags-container {
    background-color: rgb(228, 229, 224);
    margin: 1rem 0;
    padding: 3px 3px;
}

.side-nav-container {
    border: 2px solid grey;
    height: 30rem;
    width: auto;
    margin: 3rem 2rem;
    padding: 1rem;
}

.home-button {
    margin: 1rem 1rem;
    background-color: rgba(254, 99, 71, 1);
    text-align: center;
    color: white;
    padding: 1rem;
}

.links-container {
    border: 2px solid grey;
}

a {
    text-decoration: none;
}