<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head>
    <base href="/">
    <link href="documentView.css" rel="stylesheet">
    <title>Online Library Catalog - Ducument</title>
</head>


<body>
    <% if(noPage) { %> 
        <h1>404 - File not found / specified</h1>
    <% } else {%>
        <div class='nav-bar'>
            <h1 class='nav-bar-title'>Ducument: <%= results.scene_title %> </h1>
        </div>
        <div class="body-container">
            <div class="content-container">
                <div id='bioContainer' class="bio-container">
                    <div id='titleCorneredBox' class='bio-cornered-box'>
                        <p id='title' class='bio-text'><%= results.scene_title %></p>
                    </div>
                    <div id='authorCorneredBox' class='bio-cornered-box'>
                        <p id='author' class='bio-text'><%= results.play_title %></p>
                    </div>
                </div>
                <div id='docTextContainer' class='doc-text-container'>
                    <% text.forEach(p => { %>
                        <p><%= p %> </p>
                    <% }) %>
                </div>
                <div id='docTagsContainer' class='doc-tags-container'>
                    Tags:
                    <p>
                        <% if (results.tag_english) { %>
                            <a href="/ryan?query=tag_english&searchtype=tags"><u>English</u></a>,
                        <% } %>
                        <% if (results.tag_short) { %>
                            <a href="/ryan?query=tag_short&searchtype=tags"><u>Short</u></a>,
                        <% } %>
                        <% if (results.tag_med) { %>
                            <a href="/ryan?query=tag_med&searchtype=tags"><u>Medium</u></a>,
                        <% } %>
                        <% if (results.tag_long) { %>
                            <a href="/ryan?query=tag_long&searchtype=tags"><u>Long</u></a>
                        <% } %>
                    </p>
                </div>
            </div>
            <div class='side-nav-container'>
                <a href="">
                    <div class="home-button">
                        <p>Online Library Catalog</p>
                    </div>
                </a>
                <div class='links-container'>
                    <ul>
                        <li>
                            <a href="shivangi"> Search </a>
                        </li>
                        <li>
                            <a href="/ryan?query=tag_english&searchtype=tags"> Library </a>
                        </li>
                        <li>
                            <a href="yuyang"> Upload Documents</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <% } %>  
</body>

</html>