<!DOCTYPE html>
<html lang="en">
<link href="documentView.css" rel="stylesheet">
<script src="documentView.js" defer></script>
<meta charset="UTF-8">
<title>Online Library Catalog - Ducument View(Title Here)</title>

<body>
    <div class='nav-bar'>
        <h1 class='nav-bar-title'>Online Library Catalog - Ducument View(Title Here)</h1>
    </div>
    <div class="body-container">
        <div class="content-container">
            <div id='bioContainer' class="bio-container">
                <div id='titleCorneredBox' class='bio-cornered-box'>
                    <p id='title' class='bio-text'>Lorem Ipsum</p>
                </div>
                <div id='authorCorneredBox' class='bio-cornered-box'>
                    <p id='author' class='bio-text'>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
                        consectetur, adipisci velit..."</p>
                </div>
            </div>
            <div id='docTextContainer' class='doc-text-container'>
                
            </div>
            <div id='docTagsContainer' class='doc-tags-container'>
                Tags:
                <p>
                    <a href=""><u>Lorem ipsum</u></a>,
                    <a href=""><u>Lorem ipsum</u></a>,
                    <a href=""><u>Lorem ipsum</u></a>,
                    <a href=""><u>Lorem ipsum</u></a>
                </p>
            </div>
        </div>
        <div class='side-nav-container'>
            <a href="" >
                <div class="home-button">
                    <p>Online Library Catalog</p>
                </div>
            </a>
            <div class='links-container'>
                <ul>
                    <li>
                        <a href="shivangi"> Search </a>
                    </li>
                    <li>
                        <a href="ryan"> Library </a>
                    </li>
                    <li>
                        <a href="yuyang"> Upload Documents</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>