<!DOCTYPE html>
<html lang="en">
<link href="documentView.css" rel="stylesheet">
<meta charset="UTF-8">
<title>Online Library Catalog - Ducument View(Title Here)</title>

<body>
    <div class='nav-bar'>
        <h1 class='nav-bar-title'>Online Library Catalog - Ducument View(Title Here)</h1>
    </div>
    <div class="body-container">
        <div class="content-container">
            <div id='bioContainer' class="bio-container">
                <div id='titleCorneredBox' class='bio-cornered-box'>
                    <p id='title' class='bio-text'>Lorem Ipsum</p>
                </div>
                <div id='authorCorneredBox' class='bio-cornered-box'>
                    <p id='author' class='bio-text'>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
                        consectetur, adipisci velit..."</p>
                </div>
            </div>
            <div id='docTextContainer' class='doc-text-container'>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut orci porttitor, sodales enim sed,
                    interdum nisl. Integer condimentum auctor augue. Fusce gravida iaculis augue, ac facilisis mauris
                    fermentum bibendum. Curabitur malesuada aliquet fringilla. Integer eget posuere justo. In sagittis,
                    libero quis cursus interdum, nibh ante facilisis nibh, eget consequat nunc quam at augue. Nam molestie
                    enim nec metus tempor accumsan. Etiam posuere, odio vel gravida varius, ante massa mattis sapien, quis
                    consectetur purus nulla ac nunc. Fusce scelerisque consequat lorem, volutpat gravida ex viverra in.
                    Aenean aliquet quam accumsan tincidunt ullamcorper. Aliquam ullamcorper est quis turpis fermentum
                    viverra. Sed at bibendum ipsum. Sed posuere, dui quis blandit imperdiet, nibh ex condimentum dolor,
                    vitae laoreet tortor risus ut ante. Cras rutrum in felis at accumsan.
                </p>
                <p>
                    Nam sit amet commodo risus. Nam sodales tortor dui, at eleifend leo aliquet sed. Praesent eu tortor quis
                    turpis accumsan lacinia vel a tellus. Morbi vel volutpat nibh. Donec sagittis nisl ut dui porttitor, vel
                    accumsan ipsum vulputate. Maecenas consequat mollis pulvinar. Etiam eu molestie mi. Aenean ac metus
                    dolor. Donec dictum risus ac tortor porttitor molestie. Aliquam elementum et sapien in maximus.
                    Suspendisse rhoncus libero nec gravida consectetur. Vestibulum commodo nibh nec leo efficitur pulvinar.
                    Suspendisse egestas sem sit amet dui gravida mollis. Nulla pharetra risus sed libero commodo, mollis
                    malesuada urna scelerisque. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                </p>
                <p>
                    Suspendisse dapibus eget tortor vel commodo. Phasellus tristique euismod mauris nec congue. Quisque
                    suscipit ultricies enim vitae congue. Aenean eget neque maximus, egestas felis vitae, maximus mi. Morbi
                    porttitor erat libero, id ullamcorper nisl accumsan id. Sed ut turpis a ipsum pulvinar commodo vitae at
                    ex. Proin in ligula vel augue eleifend rhoncus. Pellentesque erat sapien, dignissim vel viverra ut,
                    feugiat ut felis. Nulla finibus neque non mauris pharetra, et vestibulum odio ultricies. Praesent
                    scelerisque gravida est, in ultrices dolor finibus at. Quisque lobortis, dolor in vulputate dapibus,
                    elit sapien ullamcorper sapien, nec interdum arcu lectus vel sem. Aenean efficitur varius feugiat.
                </p>
            </div>
            <div id='docTagsContainer' class='doc-tags-container'>
                <p>
                    Tags:
                    <a href=""><u>Lorem ipsum</u></a>,
                    <a href=""><u>Lorem ipsum</u></a>,
                    <a href=""><u>Lorem ipsum</u></a>,
                    <a href=""><u>Lorem ipsum</u></a>
                </p>
            </div>
        </div>
        <div class='side-nav-container'>
            <a href="" >
                <div class="home-button">
                    <p>Online Library Catalog</p>
                </div>
            </a>
            <div class='links-container'>
                <ul>
                    <li>
                        <a href="shivangi"> Search </a>
                    </li>
                    <li>
                        <a href="ryan"> Library </a>
                    </li>
                    <li>
                        <a href="yuyang"> Upload Documents</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>