<!DOCTYPE html>
<html lang="en">
    <link href="searchresults.css" rel="stylesheet">
    <script src="ryan.js" defer></script>
    <meta charset="UTF-8">
    <title>Online Library Catalog</title>
    <body>
        <header>
            <a href="/">
                <div id="homebutton">
                    <p>Online Library Catalog</p>
                </div>
            </a>
            <form>
                <input type="text" name="query" id="query" placeholder="Type your search criteria">
                <select name="searchtype" id="searchtype">
                    <option value="content">Content</option>
                    <option value="title">Title</option>
                    <option value="author">Author</option>
                    <option value="tags">Tags</option>
                </select>
                <input type="submit" value="Search">
            </form>
        </header>
        <p>~1,500 Results</p>
        <div id="results">
        </div>
        <div id="showmore">
            <p>Show More</p>
        </div>
    </body>
</html>
