<!DOCTYPE html>
<html lang="en">

<head>
    <link href="homepage.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Online Library Catalog</title>
</head>

<body>
    <h1>Online Library Catalog</h1>
    <section class="formsearch">
        <form>
            <input type="text" name="query" id="query" placeholder="Type your search criteria here">
            <select name="searchtype" id="searchtype">
            <option value="content">Content</option>
            <option value="title">Title</option>
            <option value="author">Author</option>
            <option value="tags">Tags</option>
        </select>
            <input type="submit" value="Search">
        </form>
    </section>

    <section class="navigatemenu">
        <h2>Navigate</h2>
        <div class="nav">
            <ul><a href="shivangi">Search</a></ul>
            <ul><a href="ryan">Library</a></ul>
            <ul><a href="yuyang">Upload Documents</a></ul>
        </div>
    </section>

</body>

</html>