<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="shivangi.css" rel="stylesheet">
        <meta charset="UTF-8">
        <title>Online Library Catalog</title>
    </head>
    <body>
        <h1>Online Library Catalog</h1>
        <section class="formsearch">
            <form id="searchform" action="ryan" method="GET">
                <input type="text" name="query" id="query" placeholder="Type your search criteria here">
                <select name="searchtype" id="searchtype">
                <option value="content">Content</option>
                <option value="scene">Scene</option>
                <option value="play">Play</option>
                <option value="tags">Tags</option>
            </select>
                <input type="submit" value="Search">
            </form>
        </section>
        <section class="navigatemenu">
            <h2>Navigate</h2>
            <div class="nav">
                <ul><a href="shivangi">Search</a></ul>
                <ul><a href="/ryan?query=tag_english&searchtype=tags">Library</a></ul>
                <ul><a href="yuyang">Upload Documents</a></ul>
            </div>
        </section>
        <div>
            <h2>Corpus</h2>
            <p>
                Most documents are derived from the works of William Shakespeare, made available by
                <a href="https://openliterature.net/shakespeare/">Open Literature</a> and preprocessed 
                into JSON format through the CS446 course, taught by David Fisher.
            </p>
        </div>
        <div>
            <h2>Search Types</h2>
            <p>
                <b>Content-based</b> search is done by returning documents that contain all of the query tokens, 
                splitting the text into tokens using whitespace.
            </p>
            <p>
                <b>Scene-based</b> search will return all documents whose scene title is equal to the query. Most 
                of these will be of the form play:int.int, but this is not a requirement.
            </p>
            <p><b>Play-based</b> search will return all documents whose play title is equal to the query.</p>
            <p><b>Tag-based</b> search will return all documents who possess the tag given in the query.</p>
            <p>All search types are case insensitive.</p>
        </div>
    </body>
</html>
