<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <head>
    <title>Online Library Catalog --- Display</title>
    <style>
      #title {
        background-color: orange;
        font-size: large;
        text-align: center;
        height: 50px;
        line-height: 50px;
        width: 100%;
      }
      #navigation {
        float: right;
        width: 20%;
      }
      #text {
        height: 500px;
        width: 100%;
        overflow: scroll;
      }
    </style>
  </head>
  <body>
    <div id="title"><b>Online Library Catalog --- Display</b></div>
    <div id="navigation">
      <p>
        <ul>
          <li>Library</li>
          <li>Search</li>
          <li>Upload</li>
        </ul>
      </p>
    </div>
    <div>
      <p>
        <table>
          <tr>
            <th>Title:</th>
            <td><i>Title</i>.</td>
          </tr>
          <tr>
            <th>Author:</th>
            <td>Last Name, First Name.</td>
          </tr>
          <tr>
            <th>Tags:</th>
            <td>Tags.</td>
          </tr>
        </table>
      </p>
    </div>
    <div><textarea id="text"></textarea></div>
  </body>
</html>
