<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <head>
    <title>Online Library Catalog --- Upload</title>
    <link href="documentUpload.css" rel="stylesheet">
    <script src="documentUpload.js" defer></script>
  </head>
  <body>
    <form>
    <div id="title"><b>Online Library Catalog</b></div>
    <div id="navigation">
      <p>
        <ul>
          <li><a href="shivangi">Search</a></li>
          <li><a href="ryan">Library</a></li>
          <li>Upload Documents</li>
        </ul>
      </p>
    </div>
    <div>
      <p>
        <div>
          <label for="textTitle">Title:</label>
          <input type="text" id="textTitle" name="textTitle" placeholder="Enter the title.">
        </div>
        <div>
          <label for="author">Author:</label>
          <input type="text" id="author" name="author" placeholder="Last name, first name.">
        </div>
        <div>
          <label for="tags">Tags:</label>
          <input type="tags" id="tags" name="tags" placeholder="Please separate the tags by a comma." size="100px">
        </div>
      </p>
    </div>
    <div>
      <label for="text">Text:</label>
      <textarea id="text" name="text"></textarea>
    </div>
    <div><button>Submit</button></div>
  </form>
  </body>
</html>
