<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <head>
    <title>Online Library Catalog --- Upload</title>
    <link href="yuyang.css" rel="stylesheet">
  </head>
  <body>
    <div id="title"><b>Online Library Catalog --- Upload</b></div>
    <div id="navigation">
      <p>
        <ul>
          <li>Library</li>
          <li>Search</li>
          <li>Upload</li>
        </ul>
      </p>
    </div>
    <div>
      <p>
        <table>
          <tr>
            <th>Title:</th>
            <td><i>Title</i>.</td>
          </tr>
          <tr>
            <th>Author:</th>
            <td>Last Name, First Name.</td>
          </tr>
          <tr>
            <th>Tags:</th>
            <td>Tags.</td>
          </tr>
        </table>
      </p>
    </div>
    <div><textarea id="text"></textarea></div>
  </body>
</html>
